@page
@model azstorageModel
@{
    ViewData["Title"] = "Azure Storage";
}

<div class="text-center">
    <h1 class="display-4">Launch Azure Storage Process</h1>

</div>



<form method="post" enctype="multipart/form-data">
    <label for="baseUrl">@Model.apiUrl</label>
    <input type="text" asp-for="APIRoute" placeholder="Tim"><br>
    <br>
    <br>
    @* <input type="file" id="Upload" /> *@
    <input type="file" asp-for="Upload" />
    <br>
    <br>
    <input type="submit" />
</form>

<br>
<br>
<p> This is the message from the API: <b> @Model.myAPIMessage </p>